<app-json-toolbar></app-json-toolbar>

<p-splitter [minSizes]="[40, 40]" [gutterSize]="2" styleClass="h-[calc(100vh-70px)]">
  <ng-template pTemplate>
    <div class="flex flex-col h-full w-full bg-[#2B3137] border-b border-black">
      <app-json-editor
        class="block h-full"
        name="Schema"
        description="Provide the JSON Schema"
        [type]="DocumentType.SCHEMA"
        [control]="schemaControl"
      ></app-json-editor>
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="flex flex-col h-full w-full bg-[#2B3137] border-b border-black">
      <app-json-editor
        class="block h-full"
        name="JSON"
        description="Insert JSON to test"
        [type]="DocumentType.JSON"
        [control]="jsonInputControl"
      ></app-json-editor>
    </div>
  </ng-template>
</p-splitter>
