<div class="flex justify-between bg-[#2B3137] border border-black gap-5">
  <div class="flex items-center gap-2 py-3 mx-7 w-full">
    <h3>JSON Tool</h3>
  </div>

  <div class="flex items-center gap-2 py-3 mx-7">
    @if (auth.user$ | async; as user) {
      {{ user.email }}
      <p-button
        label="Sign Out"
        class="text-nowrap"
        severity="secondary"
        (onClick)="signOut()">
      </p-button>
    } @else {
      <p-button
        label="Sign In"
        class="text-nowrap"
        severity="secondary"
        (onClick)="openAuthDialog()">
      </p-button>
    }
  </div>
</div>
