<div class="flex justify-between bg-[#2B3137] border border-black gap-5">
  <div class="flex gap-2 py-3 mx-7 w-full">
    <p-fileUpload
      #uploadFile
      pTooltip="Upload File"
      tooltipPosition="top"
      mode="basic"
      accept=".txt, .json"
      styleClass="w-full h-full"
      (onSelect)="importFile(uploadFile, $event)"
      [fileLimit]="1"
    ></p-fileUpload>

    <input
      pInputText
      type="text"
      class="form-control"
      pTooltip="File Name"
      [tooltipDisabled]="!fileNameControl.value"
      tooltipPosition="top"
      [formControl]="fileNameControl"
      placeholder="File Name"
    >

    <!-- TODO: implement export -->
    <p-button
      size="small"
      styleClass="w-full h-full"
      pTooltip="Export"
      tooltipPosition="top"
      [icon]="PrimeIcons.FILE_EXPORT"
    ></p-button>
  </div>
</div>
