/* TODO: migrate to scss */
:host ::ng-deep .p-tree {
  background: transparent;
  white-space: nowrap;
  height: 100%;
  font-family: monospace;
  font-size: 14px;
}

:host ::ng-deep .p-tree-wrapper {
  height: 100%;
}

:host ::ng-deep .p-tree-container {
  height: 100%;
}

:host ::ng-deep .p-treenode-content {
  padding: 0;
  height: 24px;
}

#tree-output {
  @apply bg-gray-50;

  cursor: default;
  height: calc(100vh - 150px);
  font-family: monospace;
  font-size: 14px;
  overflow: auto;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
}
