<div id="tree-output">
  <p-tree [value]="data$ | async">
    <ng-template let-node pTemplate="default">
      {{ node.label }}<span class="hljs-punctuation">: </span>

      @if (node.leaf) {
        @switch (node.data.type) {
          @case ('number') {
            <span class="hljs-number">{{ node.data.value }}</span>
          }
          @case ('string') {
            <span class="hljs-string">"{{ node.data.value }}"</span>
          }
          @case ('boolean') {
            <span class="hljs-keyword">{{ node.data.value }}</span>
          }
          @case ('null') {
            <span class="hljs-keyword">null</span>
          }
        }
        <span class="hljs-punctuation">,</span>
      }
    </ng-template>
  </p-tree>
</div>
