@import 'tailwindcss/base.css' layer(tailwindcss);
@import 'tailwindcss/components.css' layer(tailwindcss);
@import 'tailwindcss/utilities.css' layer(tailwindcss);

@import 'primeng/resources/themes/aura-dark-noir/theme.css';
@import 'primeng/resources/primeng.css';
@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
}

.editor-container {
  height: 100% !important;
}

.p-splitter-gutter {
  @apply transition duration-300;

  &:hover {
    filter: brightness(120%);
  }
}

.p-splitter-gutter-handle {
  @apply bg-stone-400;

  margin-inline: 5px;
}

.p-tooltip {
  scale: 75%;
  translate: 0 3px;
}
